<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
 <% if @recipes.length > 0 %>
 <ul>
  <% @recipes.each do |recipe| %>
    <li>
    <div class= "recipes-list">
    <span>
      <a href="<%= recipe_path(recipe) %>"><h2><%= recipe.name%></h2></a>
      <%= button_to "REMOVE", recipe, class:"recipe-remove", method: :delete %>
    </span>
    <p>
      <%= recipe.description %>
    </p>
    </div>
    </li>
  <% end %>
  </ul>
  <% else %>
    <h2 class="recipe-empty-data">No Recipes!</h2>
  <% end %>
<%= link_to "New recipe", new_recipe_path, class: "recipe-new" %>
</div>

